body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c0325;
  font-family: sans-serif;
}

.calculator {
  background: rgb(235, 9, 9);
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1 1 10px rgba(39, 26, 26, 0.1);
}

#display {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 2px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

button {
  height: 50px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  background: #f2f2f2;
  cursor: pointer;
}

button:hover {
  background: #dcdcdc;
}
